<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purrsist Habit Dashboard</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body class="habit-dashboard-page">
    {% include "navbar.html" %}

    <div class="card">
      <h1 class="page-title">Habit Dashboard</h1>
      <p class="page-subtitle">Today's Habits</p>
      <div class="habit-list" id="habit-list">
        {% for habit in habits %}
        <div class="habit-card">
          <p class="habit-text">{{ habit.name }}</p>

          <button
            class="complete-btn {% if habit.id in completed_ids %}completed{% endif %}"
            onclick="completeHabit(event, {{ habit.id }})"
            {%
            if
            habit.id
            in
            completed_ids
            %}disabled{%
            endif
            %}
          >
            {{ "Done" if habit.id in completed_ids else "Complete" }}
          </button>
        </div>
        {% endfor %}
      </div>

      <div class="progress-section">
        <p class="progress-label">
          Today's Progress: <span id="progress-text">{{ progress }}</span>%
        </p>

        <div class="progress-bar">
          <div
            class="progress-bar-fill"
            id="progress-bar"
            data-progress="{{ progress }}"
            style="width: {{ progress }}%"
          ></div>
        </div>
      </div>

      <div class="next-reward">
        <p id="reward-counter">{{ 3 - completed }} to next reward</p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/habits.js') }}"></script>
  </body>
</html>
